* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
h1{
    color: #1877f2;
    font-size: 4rem;
    margin-bottom: 10px;
}

/* .form{ */
    /* border: 1px solid; */
/* } */

.total{
        padding: 0 15px;
        min-height: 100vh;
        justify-content: center;
        background: #f0f2f5;
}

form {
    
    
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) */
    max-width: 400px;
    width: 100%;
  }